<!--it has navigations for specific components ...simply it is a navigation bar-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <h2 class="navbar-brand"> Online Test Management System </h2>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">LOGIN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/display">User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/display2">Admin</a>
    </li>
  </ul>
</nav>
<div>
  <div>
     <router-outlet></router-outlet>
  </div>
</div>
<footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">All rights reserved @Capgemini
  </div>

</footer>